<!-- Form contact -->

<div class="container searchcomponent">
    
      <div class="card">
          <div class="card-body">
    <form>
      
          <p class="h5 text-center mb-4">Search Contact</p>
      
          <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input type="text" id="form3" class="form-control">
              <label for="form3" data-error="enter first name" >Enter name</label>
          </div>
         
      
            
       
      </form>
    </div>
    </div>
      <!-- Form contact -->
    </div>
    <hr>
    <div class="secondContainer">

<div class="container">       
        <div class="leftsidediv lg-col-6"><div class="row"> <div class="lg-col-4"><p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p></div></div></div>
</div> 
<div class="container">     
        <div class="rightsidediv lg-col-6">

                
                        <div class="lg-col-12" *ngFor="let contact of contacts"> <div class="chip">
                                <span class="onhoverpointer"><i class="fa fa-address-card fa-2x" aria-hidden="true"  data-toggle="collapse" data-target="#myContactDetails" aria-expanded="false" aria-controls="myContactDetails"></i></span><span class="onhoverpointer"  data-toggle="collapse" data-target="#myContactDetails" aria-expanded="false" aria-controls="myContactDetails" class="namesectionspan"> {{contact.firstname}}</span>
                               <span class="contacticonpanel"><i class="fa fa-window-close" aria-hidden="true"></i></span>
                            </div>
                            <div class="collapse" id="myContactDetails">
                                
                                    <p>{{contact.firstname}}&nbsp;{{contact.lastname}}</p>
                                    <p>
                                    <p>{{contact.emailid}}</p>
                                    <p>{{contact.mobile}}</p>
                                </div>
                        
                        </div>
                            
                           
                           
        </div>
       
      
    
    </div>
    </div>